/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- MY STYLES ----- */

/* --- 1rem = 16px --- */

/* --- GENERAL STYLES --- */

/* --- min-height: 100vh, display:flex and flex-direction is to help keep footer against the bottom of the page at all times --- */ 

body {
	background-color: #F081B4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #5DD6F4;
	max-height: 97px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/* --- Switch to desktop at 1200px --- */
.container {
	width: 740px;
	margin: 0 auto;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 44px;
	margin-top: 2rem;
	padding-right: 250px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
	margin-top: 1rem;
}

p, footer, .submit-btn {
	line-height: 120%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
}

/* --- MOBILE STYLES --- */


/* --- FOOTER SECTION ---*/


footer {
    position: relative;
    margin-top: auto;
}

.footer-title {
	font-weight: bold;
	display: inline;
}

/* --- Gives some space between the social media names --- */

.social {
	display: inline;
	padding: 0 2rem 0 2rem;
}

/* --- NAVIGATION --- */
.nav {
	opacity: 1;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

a:link {
	text-decoration: none;
}

a {
	color: black;
}

.nav-flex {
	display: flex;
	justify-content: space-between;
}


.logo {
	margin-top: 10px;
}

.nav-lines {
	margin-top: 22px;
	position: relative;
	display: inline-block;
}

/* --- This hides the navigation words, which should appear for desktop sizes --- */
.nav-words {
	display: none;
}

/* --- HOME PAGE -- */

.big-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* --- An animation for viewers to enlarge and inspect the logo --- */

.big-logo:active {
	animation-name: active;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-duration: 15s;
	animation-delay: 0s;
}

/* --- The duration is set high and the animation finishes at 10% but they can view it with out the animation ending,
I asume there is a better way, where the animation finishes once released, but this is what I did for the moment --- */

@keyframes active {
	0% {
		transform: translateY(0px) scale(1) ;
	}

	10% {
		transform: translateY(200px) scale(2);
	}

	100% {
		transform: translateY(200px) scale(2);
	}
}

.welcome, h2 {
	text-align: center;
}

.welcome-p {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.product-grid p {
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.product-grid {
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat (2, 1fr);
	grid-template-rows: repeat (2, 1fr);
	grid-template-areas: 
	"a b"
	"c d"
	;
}

.product-grid .grid-item:nth-child(1) {grid-area: a;}
.product-grid .grid-item:nth-child(2) {grid-area: b;}
.product-grid .grid-item:nth-child(3) {grid-area: c;}
.product-grid .grid-item:nth-child(4) {grid-area: d;}

/* --- ABOUT US PAGE --- */

.hometown {
	max-height: 250px;
	width: 100%;
	background-color: white;
	position: relative;
}

 /* --- Add extra media queries just for the text 
				This one is for 740px   --- */

.centered-text {
	position: absolute;
	top: 12%;
	left: 26%;
	text-align: center;
}

.staff {
	margin-top: 10px;
}

.staff_image-flex, .staff_name-flex, .staff_title-flex {
	display: flex;
	justify-content: space-around;
}

.event-flex {
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

i {
	font-size: 2rem;
	margin-top: 5rem;
}

/* --- CONTACT US PAGE */

form {
	margin-left: 2rem;
}

textarea {
	width: 95%;
	height: 198px;
	resize: none;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
}

#message {
	padding: 10px;
}
.contact-input label {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
}

.contact-input input {
	width: 282px;
	height: 45px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.submit-btn {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 18px;
	width: 190px;
	height: 50px;
	font-weight: bold;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 1rem;
}

.contact-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 132px;
	margin-top: 22px;
}

.phone-p {
	padding-left: 2rem;
}

.address-p {
	padding-left: 1rem;
}

/* --- DESKTOP STYLES: ABOVE 1200px --- */
@media screen and (min-width: 1200px) {

.container {
	width: 1200px;
}

/* --- NAV STYLES --- */

header 

.nav-lines {
	display: none;
}

.nav-words {
	display:inline;
	padding-top: 3rem;
	padding-bottom: 22px;
}

h1 {
	padding-right: 25px;
	margin-top: 42px;
}

/* --- HOME PAGE --- */ 
/* --- PRODUCTS --- */

.product-grid {
	display: flex;
}

/* --- ABOUT US PAGE --- */ 

.event-flex-container {
	max-width: 440px;
	margin: 0 auto;
}

.centered-text {
	position: absolute;
	top: 12%;
	left: 38%;
	text-align: center;
}

/* --- CONTACT PAGE --- */

textarea {
	max-width: 608px;
}

textarea, .contact-input {
	margin-left: 250px;
}

.submit-btn {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 18px;
	width: 190px;
	height: 50px;
	font-weight: bold;
	margin-left: 700px;
	margin-top: 6px;
	display: block;
	float: none;
}

.contact-flex {
	justify-content: space-evenly;
}

}


